<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Plans</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="path/to/font-awesome/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  </head>

  <body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <nav class="main-nav">
      <div class="logo">
        <img src="/logo1.png" alt="Loading.." />
      </div>
      <div class="menu-link">
        <ul>
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <a href="/destination">Destination</a>
          </li>
          <li>
            <i class="fab fa-blogger"></i>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <i class="fa fa-search" ></i>
            <a href="/search">Search</a>
          </li>
        </ul>
      </div>
      <div class="menu-link2">
        <ul>
          <li>
            <i class="fas fa-address-book"></i>
            <a href="/contactus">Contact Us</a>
          </li>
          <li>
            <i class="fas fa-fingerprint"></i>
            <a href="/aboutus">About Us</a>
          </li>
          <li>
            <i class="fas fa-user"></i>
            <a href="/">Sign Out</a>
          </li>
        </ul>
      </div>
    </nav>
    
<div class="main-section">
  
  <% if (descriptionList.length === 0) { %>
  <div class="no-results">
    <h2>No places found matching your description.</h2>
    <p>Please refine your search criteria.</p>
  </div>
  <% }  %>


   <% descriptionList.forEach(function(place) { %>
    <div class="item"> 
      <div class="first">
        <!-- Image and rating content here -->
        <img src=<%= place.Images[0]%> alt="Image" />
        <p class="rating">Rating: <%= place.Rating%></p>
      </div>
      <div class="second">
        <!-- Text info content here -->
        <h2><%= place.Name%></h2>
        <p>City:<%= city%> <br>
         Significance: <%= place.Description%>
        </p>
      </div>
     <div class="third" id="weather-info-<%= place.Name %>">
    <!-- Weather info content here -->
        <h3>Weather Info</h3>
        <p>Loading...</p>
     </div>
     </div>
    <% }); %>



    <div class="chatbot" id="chatbot">
    <h5>Try our chatbot</h5>  
    <i class="fas fa-comment" id="open-chat"></i>
    </div>  
  
 <div class="chat-container" id="chat-container">
  <div class="heading">
    <h4>Ask our assistant:</h4>
    <i class="fas fa-times fa-square" id="close-chat"></i>
  </div>
  <div class="chat-box" id="chat-box">
    <div class="response"><i class="fas fa-robot"></i><div class="bot-message">'Hi! I am your travel assistant. Let me know which place do you want to go to. For example: "I want to have Thai Food" or "Which places have less crowd?"';
   </div></div>
  </div>
  <div class="input-bar">
    <input type="text" id="user-input" placeholder="Type your message here...">
        <i class="fa fa-search" onclick="sendMessage()"></i>
  </div>
 </div>
</div>
    <footer>
      <div class="footer-section">
        <div class="logo">
          <img src="/logo1.png" alt="Loading.." />
          <p>2024 © VoyageVista - Travel Recommendation</p>
        </div>
      </div>
      <div class="footer-section">
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="contactus.ejs">Contact</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Community</h3>
        <ul>
          <li><a href="#">Forums</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Events</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Partners</h3>
        <ul>
          <li><a href="#">Partner 1</a></li>
          <li><a href="#">Partner 2</a></li>
          <li><a href="#">Partner 3</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <p>
          "VoyageVista is a travel recommendation platform that leverages
          machine learning to analyze user preferences and historical data,
          providing personalized travel plans based on budget, location, and
          duration. Seamlessly integrating sentiment analysis and natural
          language processing, VoyageVista ensures an enhanced travel experience
          by curating dynamic suggestions and engaging users in interactive
          conversations."
        </p>
      </div>
    </footer>
<script>
      const placelistString="<%= placelist%>";
      const placelist=placelistString.split(',');
      console.log(placelist)

 function sendMessage() {
  const userInput = document.getElementById('user-input');
  const userMessage = userInput.value;
  const chatBox = document.getElementById('chat-box');

  // Display user message in the chat box
  chatBox.innerHTML += `<div class="question"><div class="user-message">${userMessage}</div><i class="fa fa-user"></i></div>`;

 axios.post('http://127.0.0.1:5000/query', { 
      message: userMessage,
      placelist: placelist
    })
      .then(response => {
        // Display bot response in the chat box
        const botResponse = response.data.answerofcb;
        chatBox.innerHTML += `<div class="response"><i class="fas fa-robot"></i><div class="bot-message"> You can vist: ${botResponse}</div></div>`;
      })
      .catch(error => {
        console.error('Error sending message:', error);
      });

    // Reset input field value to its placeholder value
    userInput.value = '';
  }
  const chatContainer = document.getElementById('chat-container');
  chatContainer.style.display = 'none';

document.addEventListener("DOMContentLoaded", function() {
  const openChatIcon = document.getElementById('open-chat');
  const closeChatIcon = document.getElementById('close-chat');
  
  const chatbot = document.getElementById('chatbot');

  openChatIcon.addEventListener('click', function() {
    chatContainer.style.display = 'block';
    chatbot.style.display = 'none';
  });

  closeChatIcon.addEventListener('click', function() {
    chatContainer.style.display = 'none';
    chatbot.style.display = 'flex';
  });
 });


  <% descriptionList.forEach(function(place) { %>
   fetchWeather("<%= city %>", "<%= place.Name %>");
  <% }); %>

async function fetchWeather(city, placeName) {
  try {
    // Send a POST request to the Flask backend to fetch weather information
    const response = await axios.post('http://127.0.0.1:5000//weather', { city: city });
    const weatherInfo = response.data;
    console.log(weatherInfo)
    // Update the weather info in the DOM
    const weatherDiv = document.getElementById('weather-info-' + placeName);
    weatherDiv.innerHTML = `
      <h3>Weather Info</h3>
      <p>Temperature: ${weatherInfo.Temperature} Weather Condition: ${weatherInfo.Description}</p>
    `;
  } catch (error) {
    console.error('Error fetching weather:', error);
  }
}


    </script>
  </body>
</html>
